<h1>Application List</h1>
<button (click)="showJobApplications()">Refresh!</button>
<table>
	<thead>
		<tr>
			<th>Position</th>
			<th>Company</th>
			<th>Search Date</th>
			<th>Deadline</th>
			<th>R I D</th>
			<th>Link</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody *ngIf="jobApplications.length > 0">
		<tr *ngFor="let application of jobApplications">
			<td>{{application.position}}</td>
			<td>{{application.company}}</td>
			<td>{{application.search_date}}</td>
			<td>{{application.deadline}}</td>
			<td>
				<input type="checkbox" checked="{{application.response ? 'checked' : ''}}">
				<input type="checkbox" checked="{{application.interview ? 'checked' : ''}}">
				<input type="checkbox" checked="{{application.done ? 'checked' : ''}}">
			</td>
			<td><a href="{{application.link}}">Link</a></td>
			<td><button>Update</button><button (click)="deleteJobApplication(application.id)">Delete</button></td>
		</tr>
	</tbody>
</table>

