
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Position</th>
			<th scope="col">Company</th>
			<th scope="col">Search Date</th>
			<th scope="col">Deadline</th>
			<th scope="col">R I D</th>
			<th scope="col">Link</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody *ngIf="jobApplications.length > 0">
		<tr *ngFor="let application of jobApplications" class='{{application.response ? "table-success" : "table-warning"}}'>
			<td>{{application.position}}</td>
			<td>{{application.company}}</td>
			<td>{{application.search_date}}</td>
			<td>{{application.deadline}}</td>
			<td>
				<div class="input-group">
					<div class="input-group-text">
						<input class="form-check-input" (change)="getStats($event)" id="{{application.id}}" value="response" type="checkbox" checked="{{application.response ? 'checked' : ''}}">
						<input class="form-check-input" (change)="getStats($event)" id="{{application.id}}" value="interview" type="checkbox" checked="{{application.interview ? 'checked' : ''}}">
						<input class="form-check-input" (change)="getStats($event)" id="{{application.id}}" value="done" type="checkbox" checked="{{application.done ? 'checked' : ''}}">
					</div>
				</div>
				
				
			</td>
			<td><a href="{{application.link}}">Link</a></td>
			<td><button class="btn btn-warning" (click)="updateJobApplication(application.id)">Update</button><button class="btn btn-danger" (click)="deleteJobApplication(application.id)">Delete</button></td>
		</tr>
	</tbody>
</table>
<button class="btn btn-primary" (click)="showJobApplications()">Refresh!</button>

