
<form>
	<label style="margin-right: 5px;" for="search">Filter Applications:</label>
	<input 
		id="search"
		name="searchTerm"
		[(ngModel)]="searchTerm"
		placeholder="Search position or company..."
	>
</form>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Position</th>
			<th scope="col">Company</th>
			<th scope="col">Search Date</th>
			<th scope="col">Deadline</th>
			<th scope="col">R I D</th>
			<th scope="col">Link</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	@if (this.jobApplicationService.jobApplications().length){
		<tbody>
			@for (application of this.jobApplicationService.jobApplications() | filterJobApplications : searchTerm(); track application.ID) {
				<tr app-job-application-table-item [jobApplication]="application"></tr>
			}
		</tbody>
	}
	@else {
		<p>Loading...</p>
	}


</table>
<button class="btn btn-primary" (click)="showJobApplications()">Refresh!</button>

