
<form [formGroup]="jobApplicationGroup" (ngSubmit)="onSubmit()">

	<div class="input-group mb-3">
		<label for="position" class="input-group-text" id="basic-addon1">Position</label>
		<select id="company" [value]="jobApplication()?.company_id" name="company" class="form-control" formControlName="company_id">
			@if (companies().length){
					@for (company of companies(); track company.ID) {
						<option [ngValue]="company.ID">{{company.name + " - " + company.location}}</option>
					}
			}
			@else {
				<option value=0>No companies...</option>
			}
		</select>
		<label for="contact" class="input-group-text" id="basic-addon1">Contact</label>
		<select id="contact" [value]="jobApplication()?.contact_id" name="contact" class="form-control" formControlName="contact_id">
			@if (contacts().length){
					@for (contact of contacts(); track contact.ID) {
						<option [ngValue]="contact.ID">{{contact.name}}</option>
					}
			}
			@else {
				<option value=0>No contacts...</option>
			}
		</select>
	</div>

	
	<div class="input-group mb-3">
		<label for="search_date" class="input-group-text" id="basic-addon1">Search date</label>
		<input class="form-control" placeholder="YEAR-MO-DATHH:MM:SS.MSSZ" id="search_date" type="text" formControlName="search_date">
		<label for="deadline" class="input-group-text" id="basic-addon1">Deadline</label>
		<input class="form-control" placeholder="YEAR-MO-DATHH:MM:SS.MSSZ" id="deadline" type="text" formControlName="deadline">
	</div>
	
	<div class="input-group mb-3">
		<label for="link" class="input-group-text" id="basic-addon1">Link</label>
		<input placeholder="https://example.link/verywellwrittenjoblisting" class="form-control" id="link" type="url" formControlName="link">
	</div>
	
	<div class="input-group mb-3">
		<label for="response" class="input-group-text" id="basic-addon1">Response</label>
		<div class="input-group-text">
			<input class="form-check-input" id="response" type="checkbox" formControlName="response">
		</div>
		<label for="interview" class="input-group-text" id="basic-addon1">Interview</label>
		<div class="input-group-text">
			<input class="form-check-input" id="interview" type="checkbox" formControlName="interview">
		</div>
		<label for="done" class="input-group-text" id="basic-addon1">Done</label>
		<div class="input-group-text">
			<input class="form-check-input" id="done" type="checkbox" formControlName="done">
		</div>
	</div>

	<button class="btn btn-success" type="submit" [disabled]="!jobApplicationGroup.valid">Submit</button>
</form>
	
