
@if (this.loginState()){
    <form style="display: inline;" [formGroup]="loginGroup" (ngSubmit)="login()">
        <div class="input-group mb-3">
            <label for="email" class="input-group-text" id="basic-addon1">Email</label>
            <input placeholder="example@email.foo" class="form-control" id="email" type="email" formControlName="email">
            <label for="password" class="input-group-text" id="basic-addon1">Password</label>
            <input placeholder="*******" class="form-control" id="password" type="password" formControlName="password">
        </div>
        <button class="btn btn-success" style="margin-right: 5px;" type="submit" [disabled]="!loginGroup.valid">Login</button>
    </form>
    <button class="btn btn-success" [disabled]="!loginGroup.valid" (click)="register()">Register</button>
}
